.app-footer {
  background-color: #616569;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  position: fixed;
  width: 100%;
  bottom: 0;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.app-footer p {
  margin: 0;
  font-size: 16px;
  color: #ffffff;
}
